<h2>Attendence</h2>
<%= form_tag admin_attendances_path, method: :get do %>
  <div class="row collapse">
    <%= label_tag :date %>
    <div class="medium-4 columns">
      <%= date_field_tag :date, @date %>
    </div>
    <div class="medium-2 end columns">
      <%= submit_tag "Submit", class: "button postfix" %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="columns medium-6 present-students">
    <div class="panel">
      <h3>Present:</h3>
      <h6>Total: <%= @present_students.count %></h6>
      <ul>
        <% @present_students.each do |student| %>
          <li><%= "#{student.first_name} #{student.last_name}" %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="columns medium-6 absent-students">
    <div class="panel">
      <h3>Absent:</h3>
      <h6>Total: <%= @absent_students.count %></h6>
      <ul>
        <% @absent_students.each do |student| %>
        <li><%= "#{student.first_name} #{student.last_name}" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
