<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Diagnostics</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <% if current_user %>
        <% if current_user.admin? %>
          <li><%= link_to "View Attendance", admin_attendances_path %></li>
        <% end %>
        <li><%= link_to "View All Quizzes", quizzes_path %></li>
        <li><%= link_to "Welcome, #{current_user.name}!", "#" %></li>
        <li><%= link_to "Sign out", sign_out_path %></li>
      <% else %>
        <li><%= link_to "Sign in with GitHub", "/auth/github" %></li>
      <% end %>
    </ul>
  </section>
</nav>
